#form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.form {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.titles h1 {
    margin: 0;
    font-size: 24px;
}

.titles h3 {
    margin: 5px 0 20px 0;
    font-size: 16px;
    font-weight: normal;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.inputs input[type="file"] {
    border: none;
    padding: 0;
}

form .button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#uploadButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#uploadButton:hover {
    background-color: #1c86ee;
}

#image {
    min-height: 1.5rem;
    padding: 0.7rem;
}