@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.15);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    opacity: 0.8;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgba(217, 217, 217, 0);
    font-family: Inter;
}

.search-input::placeholder {
    color: #aaa; /* Couleur du placeholder */
}

.icon img{
    width: 1.5rem;
    opacity: 0.75;
}